body {
  font-family: 'Roboto Condensed', sans-serif !important;
  margin: 0;
  padding: 0;
}

.selector-for-some-widget {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
}

#nav {
  background: url(images/logo.svg) no-repeat center #f72210 !important;
  background-size: 36% !important;
  padding: 35px 0 10px 0;
}

.nav-link {
  font-weight: bold;
  color: #000;
}

.fa-bars {
  color: #f72210; 
}

.menu-bar {
  display: none;
}

h5,
h6 {
  color: #000000;
  font-weight: bold;
}

.footer {
  max-width: 94%;
  margin: auto;
}

.img-logo {
  width: 22%;
}

.fab {
  margin-right: 16px;
  font-size: 25px;
}

.fab:hover {
  color: rgb(50, 50, 226);
  cursor: pointer;
}

.align-self-center.position-absolute.second {
  left: 110px
}

.media-body.txt {
  margin-left: 300px;
}

.align-self-center.mr-3 {
  width: 50%;
  height: 304px;
}

.ft-ul {
  list-style: none;
}

.ft-ul > li::after {
  content: "|";
  padding: 5px;
}

.ft-ul > li:last-child::after {
  content: "";
  padding: 5px;
}

.m-0.p-0.text-dark.txt:hover,
.text-dark.don:hover {
  color: #f72210 !important;
  text-decoration: none !important;
  font-weight: bold;
}


@media screen and (max-width: 991px) {
  .weath-and-date p {
    display: none;
  }

  .weath-and-date {
    margin-left: 130px;
    padding: 4px 0;
  }

  #nav {
    background: url(images/logo.svg) no-repeat left #f72210 !important;
    background-size: 10em !important;
    padding: 4px 0 4px 0 !important;
    display: flex;
    align-items: center;
}

  .menu-bar {
    display: inline-block;
  }

  .fas.fa-bars {
    font-size: 30px;
    color: rgb(207, 198, 198);
    padding: 4px 18px;
  }
}

@media screen and (max-width: 767px) {
  .align-self-center.position-absolute {
    left: 200px;
  }

  .align-self-center.position-absolute.second {
    left: 280px;
  }

  .media-body.txt {
    margin: 200px auto 0 auto !important;
    text-align: center !important;
  }

  .align-self-center.mr-3 {
    max-width: 100%;
    width: 800px;
  }

  .media.border.spec {
    display: block;
    text-align: center;
  }

  .align-self-center.mr-3 {
    height: 200px;
  }

  .d-flex.flex-fill.mt-4,
  .logo-and-copy {
    display: block !important;
  }

  i.fab {
    margin-top: 10px;
  }
}