body {
  font-family: 'Roboto Condensed', sans-serif !important;
  margin: 0;
  padding: 0;
}

.selector-for-some-widget {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
}

#nav {
  background-color: #f72210 !important;
}

.nav-link {
  font-weight: bold;
  color: #000;
}
